In [1]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna        NaN     Loving        kunakr@gmail.com

In [2]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.head())

   Emp.ID Emp.Name       City Speciality               Email ID
0       1  Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2    Radha    Barsana       Love  radhekrishna@gmail.com
2       3   Balram  Brindaban   Strength                     NaN
3       4    Meera     Jamuna        NaN        kmeera@gmail.com
4       5  Yoshoda        NaN       Care   yoshodarani@gmail.com

In [3]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.tail())

   Emp.ID  Emp.Name      City Speciality           Email ID
5       6  Nandraja    Gokula     Advice                 NaN
6       7  Brishvan   Barsana        NaN  brishban@gmail.com
7       8   Kirtida       NaN     Loving  kirtidab@gmail.com
8       9      Ayan  Jbarsana        NaN                 NaN
9      10      Kuna       NaN     Loving    kunakr@gmail.com

In [4]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.to_string())

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna        NaN     Loving        kunakr@gmail.com

In [5]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emp.ID      10 non-null     int64
 1   Emp.Name    10 non-null     object
 2   City        7 non-null      object
 3   Speciality  7 non-null      object
 4   Email ID    7 non-null      object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes
None

In [6]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.iloc[2:5])

   Emp.ID Emp.Name       City Speciality              Email ID
2       3   Balram  Brindaban   Strength                    NaN
3       4    Meera     Jamuna        NaN       kmeera@gmail.com
4       5  Yoshoda        NaN       Care  yoshodarani@gmail.com

In [7]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.isnull())

   Emp.ID  Emp.Name   City  Speciality  Email ID
0   False     False  False       False      False
1   False     False  False       False      False
2   False     False  False       False       True
3   False     False  False        True      False
4   False     False   True       False      False
5   False     False  False       False       True
6   False     False  False        True      False
7   False     False   True       False      False
8   False     False  False        True       True
9   False     False   True       False      False

In [8]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
print(df.notnull())

   Emp.ID  Emp.Name   City  Speciality  Email ID
0    True      True   True        True       True
1    True      True   True        True       True
2    True      True   True        True      False
3    True      True   True       False       True
4    True      True  False        True       True
5    True      True   True        True      False
6    True      True   True       False       True
7    True      True  False        True       True
8    True      True   True       False      False
9    True      True  False        True       True

In [11]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.isnull()
print(newdf.to_string())

   Emp.ID  Emp.Name   City  Speciality  Email ID
0   False     False  False       False      False
1   False     False  False       False      False
2   False     False  False       False       True
3   False     False  False        True      False
4   False     False   True       False      False
5   False     False  False       False       True
6   False     False  False        True      False
7   False     False   True       False      False
8   False     False  False        True       True
9   False     False   True       False      False

In [12]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.notnull()
print(newdf.to_string())

   Emp.ID  Emp.Name   City  Speciality  Email ID
0    True      True   True        True       True
1    True      True   True        True       True
2    True      True   True        True      False
3    True      True   True       False       True
4    True      True  False        True       True
5    True      True   True        True      False
6    True      True   True       False       True
7    True      True  False        True       True
8    True      True   True       False      False
9    True      True  False        True       True

In [13]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.dropna()
print(newdf.to_string())

   Emp.ID Emp.Name     City Speciality               Email ID
0       1  Krishna  Dwarika      Flute    radheradhe@gmail.com
1       2    Radha  Barsana       Love  radhekrishna@gmail.com

In [14]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.dropna(thresh=3)
print(newdf.to_string())

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna        NaN     Loving        kunakr@gmail.com

In [16]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.fillna(0)
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                       0
3       4     Meera     Jamuna          0        kmeera@gmail.com
4       5   Yoshoda          0       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                       0
6       7  Brishvan    Barsana          0      brishban@gmail.com
7       8   Kirtida          0     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana          0                       0
9      10      Kuna          0     Loving        kunakr@gmail.com

In [17]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.fillna({'City':0,'Email ID':0})
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda          0       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida          0     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna          0     Loving        kunakr@gmail.com

In [19]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.fillna(method='ffill')
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength  radhekrishna@gmail.com
3       4     Meera     Jamuna   Strength        kmeera@gmail.com
4       5   Yoshoda     Jamuna       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice   yoshodarani@gmail.com
6       7  Brishvan    Barsana     Advice      brishban@gmail.com
7       8   Kirtida    Barsana     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana     Loving      kirtidab@gmail.com
9      10      Kuna   Jbarsana     Loving        kunakr@gmail.com

In [20]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=df.fillna(method='bfill')
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength        kmeera@gmail.com
3       4     Meera     Jamuna       Care        kmeera@gmail.com
4       5   Yoshoda     Gokula       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice      brishban@gmail.com
6       7  Brishvan    Barsana     Loving      brishban@gmail.com
7       8   Kirtida   Jbarsana     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana     Loving        kunakr@gmail.com
9      10      Kuna        NaN     Loving        kunakr@gmail.com

In [21]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=(df.duplicated())
print(newdf.to_string())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False

In [23]:
import pandas as pd 
df = pd.read_csv("Employee Data.csv")
newdf=(df.drop_duplicates())
print(newdf.to_string())

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna        NaN     Loving        kunakr@gmail.com

In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv("Employee Data.csv")
newdf=df.replace(np.NaN,2)
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                       2
3       4     Meera     Jamuna          2        kmeera@gmail.com
4       5   Yoshoda          2       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                       2
6       7  Brishvan    Barsana          2      brishban@gmail.com
7       8   Kirtida          2     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana          2                       2
9      10      Kuna          2     Loving        kunakr@gmail.com

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("Employee Data.csv")
newdf = df.replace('Kuna','Jatila')
print(newdf)

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
5       6  Nandraja     Gokula     Advice                     NaN
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10    Jatila        NaN     Loving        kunakr@gmail.com

In [1]:
import pandas as pd
df = pd.read_csv("Employee Data.csv")
newdf1=df['Emp.ID'].mean()
newdf2=df['Emp.ID'].fillna(newdf1)
print(newdf2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Emp.ID, dtype: int64

In [2]:
import pandas as pd 
df=pd.read_csv("Employee Data.csv")
newdf1=df['Emp.ID'].median()
newdf2=df['Emp.ID'].fillna(newdf1)
print(newdf2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Emp.ID, dtype: int64

In [3]:
import pandas as pd 
df=pd.read_csv("Employee Data.csv")
newdf1=df['Emp.ID'].interpolate()
newdf2=df['Emp.ID'].fillna(newdf1)
print(newdf2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Emp.ID, dtype: int64

In [5]:
import pandas as pd
df=pd.read_csv("Employee Data.csv")
newdf1=df['Emp.ID'].max()
newdf2=df['Emp.ID'].fillna(newdf1)
print(newdf2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Emp.ID, dtype: int64

In [6]:
import pandas as pd
df=pd.read_csv("Employee Data.csv")
newdf1=df['Emp.ID'].min()
newdf2=df['Emp.ID'].fillna(newdf1)
print(newdf2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Emp.ID, dtype: int64

In [7]:
import pandas as pd
df=pd.read_csv("Employee Data.csv")
df.loc[df['Emp.ID']>6]

   Emp.ID  Emp.Name      City Speciality           Email ID
6       7  Brishvan   Barsana        NaN  brishban@gmail.com
7       8   Kirtida       NaN     Loving  kirtidab@gmail.com
8       9      Ayan  Jbarsana        NaN                 NaN
9      10      Kuna       NaN     Loving    kunakr@gmail.com

In [8]:
import pandas as pd 
df=pd.read_csv("Employee Data.csv")
df.loc[df['Emp.ID']<6]

   Emp.ID Emp.Name       City Speciality               Email ID
0       1  Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2    Radha    Barsana       Love  radhekrishna@gmail.com
2       3   Balram  Brindaban   Strength                     NaN
3       4    Meera     Jamuna        NaN        kmeera@gmail.com
4       5  Yoshoda        NaN       Care   yoshodarani@gmail.com

In [10]:
import pandas as pd
df=pd.read_csv("Employee Data.csv")
df.loc[(df['Emp.ID']>6) | (df['Emp.ID']<6)]

   Emp.ID  Emp.Name       City Speciality               Email ID
0       1   Krishna    Dwarika      Flute    radheradhe@gmail.com
1       2     Radha    Barsana       Love  radhekrishna@gmail.com
2       3    Balram  Brindaban   Strength                     NaN
3       4     Meera     Jamuna        NaN        kmeera@gmail.com
4       5   Yoshoda        NaN       Care   yoshodarani@gmail.com
6       7  Brishvan    Barsana        NaN      brishban@gmail.com
7       8   Kirtida        NaN     Loving      kirtidab@gmail.com
8       9      Ayan   Jbarsana        NaN                     NaN
9      10      Kuna        NaN     Loving        kunakr@gmail.com